    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-7 pt-5">
                <p>
                  <b>Im Projekt PANTER soll ein zuverlässiges, frei verfügbares Vergleichsportal für Finanzierungsmodelle, Preise und Preisentwicklungen auf dem Open-Access-Zeitschriftenmarkt entstehen. Es ermöglicht dann allen Akteur:innen im Open-Access-Bereich, Preise für Publikationsdienstleistungen zu vergleichen. Gleichzeitig schafft es Transparenz in der Preispolitik auf dem Publikationsmarkt und macht mittel- und langfristige Trends sichtbar. Das Vorhaben wird durch das Bundesministerium für Bildung und Forschung (BMBF) im Rahmen des Förderbereichs "Etablierung einer gelebten Open-Access-Kultur" in der Fördermaßnahme "Digitaler Wandel in Bildung, Wissenschaft und Forschung" gefördert.</b>
                </p>
                <br/>
            </div>
            <div class="col-lg-4 offset-lg-1 pt-5">
              <h3><a href="{{ "/news" | relative_url }}">Aktuelles</a></h3>
                <ul class="list-unstyled">
                  {% for post in site.posts limit:2 %}
                    <li>
                      <p class="mb-0"><a href="{{ post.url }}">{{ post.title }}</a></p>
                      <p>{{ post.description }}</p>
                    </li>
                  {% endfor %}
                </ul>
                 <p> PANTER jetzt auf Masterdon <p>
                <p><a href="{{ site.mastodon }}"><img src="{{ "img/mastodon-logo-black.svg"  | relative_url }}" height="50" /></a></p>
            </div>
        </div>
    </section>
