<!-- Footer -->
<footer>
    <div class="container mt-5">
        <div class="row gx-5">
            <div class="col-md-2 pt-5">
                <img class="img-fluid footer-logo" src="{{ "/img/slublogo.svg" | relative_url }}">
            </div>
            <div class="col-md-3 pt-5">
                <img class="img-fluid footer-logo" src="{{ "/img/tib-full.svg" | relative_url }}">
            </div>
            <div class="col-md-2 pt-5">
                <img class="img-fluid footer-logo" src="{{ "/img/HTWD_logo_RGB_vertical_color.png" | relative_url }}">
            </div>
            <div class="col-md-3 offset-md-2">
                <img class="img-fluid bmbf-logo" src="{{ "/img/BMBF_gefoerdert_vom_deutsch.jpg" | relative_url }}">
            </div>
        </div>
    </div>
</footer>
