<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}"><img src="{{ "img/panter-logo.svg"  | relative_url }}" class="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">          
          <li class="nav-item">
            <a class="nav-link {% if page.title == 'Home' %}active{% endif %}" aria-current="page" href="{{ site.url }}{{ site.baseurl }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ site.url }}">Preismonitor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.title == 'Kontakt' %}active{% endif %}" href="{{ "/contact" | relative_url }}">Kontakt</a>
          </li>
          <!-- 
          <li class="nav-item">
            <a class="nav-link {% if page.title == 'Datenschutz' %}active{% endif %}" href="{{ "/privacy" | relative_url }}">Datenschutz</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link {% if page.title == 'Impressum' %}active{% endif %}" href="{{ "/imprint" | relative_url }}">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container text-center">

			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="intro-message">
            <div class="white-faded-background">
						<h1>{{ site.title }}</h1>
                        <div class="intro-divider"></div>
						<h3>{{ site.description }}</h3>
          </div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>

<div class="container pt-5">
    <a class="menu-link me-4 pb-2 {% if page.title == 'home' %}menu-link--selected{% endif %}" href="{{ "/" | relative_url }}">Projekt</a>
    <a class="menu-link me-4 pb-2 {% if page.title == 'Team' %}menu-link--selected{% endif %}" href="{{ "/team" | relative_url }}">Team</a>
    <a class="menu-link me-4 pb-2 {% if page.title == 'Output' %}menu-link--selected{% endif %}" href="{{ "/resources" | relative_url }}">Ressourcen</a>
    <a class="menu-link me-4 pb-2 {% if page.title == 'Aktuelles' %}menu-link--selected{% endif %}" href="{{ "/news" | relative_url }}">Aktuelles</a>
</div>