<section id="services">
<!-- Page Content -->
{% for partner in site.partners %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading"><a href="{{ partner.link }}">{{ partner.title }}</a></h3>
                    <div class="lead">{{ partner.content }}</div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-sm-6">
                    <img class="img-fluid pt-3" src="img/partners/{{ partner.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-7 offset-lg-1 order-lg-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading"><a href="{{ partner.link }}">{{ partner.title }}</a></h3>
                    <div class="lead">{{ partner.content }}</div>
                </div>
                <div class="col-lg-4 order-lg-1 col-sm-6">
                  <img class="img-fluid pt-3" src="img/partners/{{ partner.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
